apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: addd275/three-tier:v3
        ports:
        - containerPort: 5000

        resources:
          requests:
            cpu: "200m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        livenessProbe:
          httpGet:
            path: /api/items
            port: 5000
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /api/items
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 15
  
  
        env:
        - name: MONGO_URI
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: MONGO_URI
        
        - name: BACKEND_DB
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: BACKEND_DB


